.grid-container{
    display: grid;
    grid-template-columns: 56% 44%;
    grid-gap: 5px;
    margin-top: 4.2rem;
    padding: 3px;
}
.grid-container > div {
    max-width:95%;
}
.grid-container > div >p {
    min-width: 44%;
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
}
.grid-container >div >p >a {
    font-size: 1.7rem;
    font-weight: bold;
}