.grid-container{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 5px;
    margin-top: 4.2rem;
    padding: 3px;
}
.grid-container > div {
    max-width: 99%;
}
.grid-container > div >p {
    min-width:45%;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
}
.grid-container >div >h1{
    min-width:45%;
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
}