/* 
<!-- /////////////////// Copyright-Vermerk /////////////////// -->
<!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
<!-- //////////////////////////////////////--> */

/* Obere Menu Leiste*/

nav {
    margin:0;
    height:0;
}
#menu1 {
    display:table;
    position:absolute;
    z-index:2;
    top:0;
    right:0;
    height:100vh;
    width:100%;
    margin-top:-250%;
    padding:0;
    background:transparent;
    transition:all 2s ease-out;
    background:#1f1f1f;
}
#menu1 ul {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    margin:0 auto;
    padding:0rem 1rem;
}
#menu1 li {
    list-style-type : none;
    display:block;
    margin:0rem;
    text-align:center;
    padding:0;
    margin:.2rem .1rem;
    font-weight:normal;
}
#menu1 li a {
    display:inline-block;
    font-family:'old_standard_ttregular';
    text-align:center;
    text-decoration : none;
    font-size:1.7rem;
    letter-spacing:3px;
    padding:.4rem 0rem ;
    margin: 0 -2px;
    background:transparent;
    color:#fff;
    font-weight:normal;
    text-shadow:none;
    text-transform:uppercase;
}

@media (min-width: 760px) {
nav {
    height:auto;
    padding:2rem 0;
}
#menu1  {
    height:0rem;
    position:relative;
    top:auto;
    right:auto;
    margin:0;
    padding: 0rem 1rem;
    background:transparent;
}
#menu1 ul {
    vertical-align:top;
}
#menu1 li {
    display:inline-block;
    border-radius:36rem; 
}
#menu1 li a {
    font-size:1.4rem;
    letter-spacing:0px;
    font-weight:bold;
    background:transparent;
    color:black;
    padding:.3rem 1rem;
    transition:background .4s;
    border-radius:.5rem;
}
#menu1 li a:hover {
    background:#0e4e78;
    color:white;
}
#menu1 #aktuell a {
    background:#0e4e78;
    color:white;
}
}

/* Inhalt der Startseite */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    font-size:62.5%;
    line-height:1.5;
}
body {
    height:100%;
    font-size:1.4rem;
    margin: 0 auto;
    overflow-x:hidden;
    font-family:'old_standard_ttitalic';
}
h1, h2 {
    font-size: 1.6rem;
    font-weight:normal;
    color:black;
}
h1 {
    font-size: 3.0rem;
    line-height: 3rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-weight: bold;
}
img {
    max-width: 100%;
    display:block;
    margin:0 auto;
    height: auto;
}
.liste-meine li {
    padding:1rem 0;
    margin-left:-2rem;
} 
header {
    background:#fff;
}
.logo {
    display:block;
    margin: 0 auto;
    padding:0rem;
}
.logobox-a {
    display:block;
    width:100%;
    padding:0rem;
}    
.logobox-b { 
    height:100vh;
    display:table;
    width:100%;
    table-layout:fixed;
    border-spacing:0 0;
    padding: 2rem;
    background-image:url(Images/Bild.jpg);
    background-repeat:no-repeat;
    background-position:50% 50%;
    background-size:cover;
}
.name-wrapper {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}   
.name {
    display:inline-block;
    font-family:'old_standard_ttitalic';
    background:rgba(240,240,240,.4);
    font-weight:bold;
    letter-spacing:2px;
    margin:0rem;
    padding:2rem ;
    font-size:2.4rem;
    line-height: 3rem;
    color:#0e4e78;
    color:black;
    text-transform:none;
    box-shadow:inset 0 0 400px white;
}
@media (min-width: 1024px) {
    pre {
        width:70%; 
    }    
} 
@media (min-width: 1280px) {
    html {
        font-size:85%;
    }
    .inhaltbox-a {
        padding:3rem 6vw 5rem 6vw ;
    }
}
@media (min-width: 1600px) {  
    .inhaltbox-a {padding:3rem 10vw 5rem 10vw 
}    
}























