body { height: 100%;}

#navi {
        display:table;
        position:absolute;
        width:100%;
        height: auto;
        padding: 0;
        padding-top: 25px;
        background:transparent;
        transition: all 2s ease-out;
}
#navi ul {
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        margin: 0 auto;
}
#navi li {
        list-style-type : none;
        font-weight: normal;
        display:inline;
        margin: .2rem .1rem;
        padding: 10px;
}
#navi li a {
        display:inline-block;
        font-family:'old_standard_ttregular';
        font-size: 1.7rem;
        letter-spacing: 3px;
        color: black;
        padding: .4rem 0rem;
        margin: 0 -2px;
        text-decoration: none;
}
#navi li a:hover {
        background-color:#0e4e78;
        color: white;
        border-radius: 12px;
        padding: 8px;
}     
#navi #aktuell a {
        background-color:#0e4e78;
        color:white;
        border-radius: 12px;
        padding: 8px;
}
.img-fit{
        width: 100%;
        height: 100%;
        margin-top: 5.6rem;
        object-fit: cover;
        background-position: center;
        z-index: 1;
        position: absolute;
}
#inhalt {
        position: absolute;
        top: 100px;
        padding: 10px;
        width: 85%;
        left: 5%;
        border-left-width: 1px;
}
.container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        width: 40rem;
        background-color: white;
        background: hsla(0, 0%, 100%, 0.2);
        border: none;
        margin-top: 6.6rem;
        margin-left: 1rem;
        z-index: 2;
        position: absolute;
        border-radius: 20px;
}
.blocktext{
        font-size: 1.5rem;
        padding: .4rem 0rem;
        margin: 10px;
        letter-spacing: 3px;
        color: white;
        font-family: 'old_standard_ttregular';
}
#header {
        font-size: 2.5rem;
        font-weight: bold;
}
#grid-container-fussbereich{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin: 25%; 
}
#grid-container-fussbereich > div{
        font-size: 1rem;
        padding: 3px;
}
