/* CSS-Style für Ansicht der Boote in boote.html */
.grid-container{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 5px;
    margin-top: 4.2rem;
    padding: 3px;
}
.grid-container > div {
    max-width: 99%;
}
.grid-container > div >p {
    min-width:45%;
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
}
.grid-container >div >h1{
    min-width:45%;
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
}

 /* CSS-Style für kontaktaufnahme in kontakt.html */
form {
    margin-top: 4.2rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;  
}
label{
    display: block;
    padding: 5px;
}
input, textarea{
    border: 1.5px solid #0e4e78;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 1rem;
}
textarea{
    min-width: 25rem;
    min-height: 10rem;
}
button{
    font-size: .9rem;
    letter-spacing: 3px;
    font-family: old_standard_ttregular;
    border: 1.5px solid #0e4e78;
    background-color: white;
    border-radius: 12px;
}
