/* CSS-Style für Ansicht der Boote in boote.html */
.grid-container{
    display: grid;
    grid-template-columns: 53% 47%;
    grid-gap: 5px;
    padding: 3px;
}
.grid-container > div {
    max-width: 99%;
}
.grid-container > div >p {
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: old_standard_ttregular;
}
.grid-container >div >h1{
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-family: old_standard_ttregular;
}
@media (max-width: 1280px) {
    .grid-container >div >p{
        font-size: 1rem; 
    }
    .grid-container{
        grid-template-columns: 50% 50%;
    }
    .grid-container >div >h1{
        font-size: 1.4;
        margin-bottom: 0;
    }
} 

/* CSS für Kontakt */
section{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
}
section >div {
    max-width: 800px;
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'old_standard_ttregular';
    font-size: 1.7rem;
    letter-spacing: 2px;
}
form{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'old_standard_ttregular';
    font-size: 1.7rem;
    letter-spacing: 2px;
}
form >div {
    background-size:cover;
}
input, textarea {
    background-color: white;
    font-family: 'old_standard_ttregular';
    font-size: 1.7rem;
    letter-spacing: 2px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
input{
    margin-bottom: 1rem;
    min-width: 35rem;
}
textarea{
    min-width: 45rem;
    min-height: 10rem;
}
input:focus, textarea:focus {
    border-color: #0e4e78;
}
input::placeholder, textarea::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
input:focus::placeholder, textarea:focus::placeholder{
    color: #b3b3b3;
}
button{
    font-size: 1.4rem;
    letter-spacing: 2px;
    background-color: #0e4e78;
    color: white;
    border: 1.5px solid #0e4e78;
    border-radius: 5px;
}

/* CSS für Termin */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/*
.open-button, button {
    display: block;
    margin: 1rem;
    background-color: #0e4e78;
    color: white;
    padding: 2rem;
    border: none;
    cursor: pointer;
    position: relative;
    width: 20rem;
    font-family: 'old_standard_ttregular';
    font-size: 1.4rem;
    letter-spacing: 2px;
    box-sizing: border-box;
}
h1 {
    color: white;
    font-size: 1.7rem;
    font-family: 'old_standard_ttregular';
    letter-spacing: 2px;
    margin: 1rem;
}
.form-popup {
    display: none;
    position: fixed;
    max-height:100%;
    bottom: 0;
    margin: 0.5rem;
    z-index: 2;
}
.form-container {
    max-width:100%;
    padding: 2rem;
    font-family: 'old_standard_ttregular';
    font-size: 1.4rem;
    letter-spacing: 2px;
    background-color:#0e4e78;
    color: white;
}
.form-container input[type=date], .form-container select{
  max-width:80%;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 12px;
  background: white;
  color: black;
}
.form-container input[type=date]:focus, .form-container select:focus {
  background-color: white;
}
.form-container .btn {
  background-color: mediumseagreen;
  color: white;
  padding: 2rem;
  cursor: pointer;
  max-width: 100%;
  margin-bottom:1rem;
  opacity: 0.8;
}
.form-container .cancel {
  background-color: orange;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
