<!DOCTYPE html>
<html>

    <head>
        <title>Ausflug</title>
        <link rel="stylesheet" type="text/css" href="format.css">
        <link rel="stylesheet" type="text/css" href="copy.css" >
        <link rel="stylesheet" type="text/css" href="ausflug.css" >
        <meta name="viewport" content="width=devicewitd, initial-scale=1.0">
    </head>
       
    <body>
    <!-- /////////////////// Copyright-Vermerk /////////////////// -->
    <!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
    <!-- ////////////////////////////////////// -->
        <header>
            <div class="logo">
            <div class="logobox-a">
        <nav>
            <div id="menu1">
            <ul>
                <li><a  href="/">Startseite</a></li>
                <li><a  href="/boote">Boote</a></li>
                <li id="aktuell"><a  href="/ausflug">Ausflug</a></li>
                <li><a  href="/kontakt">Kontakt</a></li>
                <li><a  href="/Login">Anmelden</a></li>
            </ul>
            </div>
        </nav>
            </div>
            </div>
        </header>
    <!-- Ende Copyright-->
    <main>
        <div>
          <input  id="search-input">
       <button id="search-btn"> Search</button>
        </div>
        <table id="table">
            <thead>
                <th>Boot</th>
                <th>Datum</th>
                <th>Buchen</th>
            </thead>
            <tbody>

            </tbody>

        </table>
    </main>

         

            
            <footer>
                <div class="grid-container-fussbereich">
                <div>Kontakt:</div>
                <div>Öffnungszeiten:</div>
                <div>Adresse:</div>
                <div>Rechthinweise:</div>
                <div> Tel: 01234/56789 <br> oder über unser <br><a href="kontakt.html">  Kontaktformular</a></div>
                
                <div>Mo-So bei schönem Wetter <br> ab 9 Uhr geöffnet. <br> Zeiten können variieren.</div>
                
                <div>Musterstrasse 1 <br> 12345 Musterhausen</div>
                  
                <div> <a href="impressum.html"> Impressum</a></div>
                </div>
            </footer>
            <script src="ausflug.js"></script>
        </body>
        </html>