<!Doctype html>
<html lang="de">

    <head>
    <title>Sea United</title>
    <link rel="stylesheet" href="/copy.css" type="text/css">
    <link rel="stylesheet" href="/format.css" type="text/css">
    </head>

    <body>
    <!-- /////////////////// Copyright-Vermerk /////////////////// -->
    <!-- (c)Copyright by S.I.S.Papenburg / www.on-mouseover.de/templates/ -->
    <!-- ////////////////////////////////////// -->
        <header>
            <div class="logo">
            <div class="logobox-a">
        <nav>
            <div id="menu1">
            <ul>
                <li href="" id="aktuell"><a  href="">Startseite</a></li>
                <li><a  href="/boote">Boote</a></li>
                <li><a  href="/ausflug">Ausflug</a></li>
                <li><a  href="/kontakt">Kontakt</a></li>
                <li><a  href="/Login">Anmelden</a></li>
            </ul>
            </div>
        </nav>
            </div>
        </header>

        <section>
            <div class="logobox-b">
            <div class="name-wrapper">
            <div class="name"> 
                <h2>Willkommen bei <h1>Sea United</h1></h2>
                <h2>Wir bieten unvergessliche Bootsausflüge.
                 atemberaubender <br> Tag auf See. 
                Gruppen wird so die Möglichkeit geboten mit <br>Freunden, Bekannten, 
                Familie oder den Liebsten traumhafte <br>Momente zu erleben. 
                Schauen sie doch einfach mal an was wir zu<br> bieten haben und 
                wann die nächste Ausfahrten geplant sind. 
                Wir <br>freuen uns auf sie und darauf ihnen einen unvergesslichen Tag zu bieten.
                </h2>
            </div>
            </div>
            </div>
            </div>
        </section>
    <!-- Ende Copyright-->

    <footer>
        <div class="grid-container-fussbereich">
        <div>Kontakt:</div>
        <div>Öffnungszeiten:</div>
        <div>Adresse:</div>
        <div>Rechthinweise:</div>
        <div> Tel: 01234/56789 <br> oder über unser <br><a href="kontakt.html">  Kontaktformular</a></div>
        
        <div>Mo-So bei schönem Wetter <br> ab 9 Uhr geöffnet. <br> Zeiten können variieren.</div>
        
        <div>Musterstrasse 1 <br> 12345 Musterhausen</div>
          
        <div> <a href="impressum.html"> Impressum</a></div>
        </div>
    </footer>
    </body>
</html>