<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anmeldung</title>
    <link rel="stylesheet"  type='text/css' href="/Login.css">
    <link rel="stylesheet" type="text/css" href="/copy.css">
    <link rel="stylesheet" type="text/css" href="/format.css">
  </head>
  <body>
    <header>
        <div class="logo">
            <div class="logobox-a">
        <nav>
            <div id="menu1">
            <ul>
                <li><a  href="/">Startseite</a></li>
                <li ><a  href="/boote">Boote</a></li>
                <li><a  href="/ausflug">Ausflug</a></li>
                <li><a  href="/kontakt">Kontakt</a></li>
                <li id="aktuell"><a  href="/Login">Anmelden</a></li>
            </ul>
            </div>
        </nav>
        </div>
        </div>
    </header>
    <section>
    <div class="wrapper">
      <div class="title-text">

</div>

<div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Anmelden</label>
          <label for="signup" class="slide signup">Registrieren</label>
          <div class="slider-tab">
</div>
</div>
<div class="form-inner">
          <form action="/login/submit" method="POST" class="login">
            <div class="field">
              <input type="text" name="pwBenutzername" id="pwBenutzername" placeholder="Benutzername" required>
            </div>
<div class="field">
              <input type="password" name="pwPasswort" id="pwPasswort" placeholder="Passwort" required>
            </div>
<div class="pass-link">
  <!-- /////////////////// Test der Skript ausgabe "Benutzerdaten Falsch" /////////////////// -->
{{#if messageEins }}
  <h4 class="altert" >{{messageEins}}</h4>
{{/if}}
{{#if messageZwei}}
  <h4 class="altert" >{{messageZwei}}</h4>
{{/if}}
{{#if messageDrei }}
  <h4 class="altert" >{{messageDrei}}</h4>
{{/if}}
<a href="#">Passwort vergessen?</a></div>
<div class="field btn">
              <div class="btn-layer">
</div>
<input id ="submitLogin" type="submit" value="Anmelden">
          </div>
<div class="signup-link">
Noch nicht angemeldet? <a href="">Hier anmelden</a></div>
</form>
<form action="/registrierung/submit" method="POST" class="signup">
            <div class="field">
              <input type="text" name="Email" id="Email" placeholder="Email Adresse" required>
            </div>
            <div class="field">
              <input type="text" name="Benutzername" id="pwBenutzername" placeholder="Benutzername" required>
            </div>
<div class="field">
              <input type="password"  name="IPasswort" id="pwPasswort" placeholder="Passwort" required>
            </div>
<div class="field">
              <input type="password"  name="IWPasswort" id="pwPasswort" placeholder="Passwort wiederholen" required>
            </div>
<div class="field btn">
              <div class="btn-layer">
</div>
<input type="submit" value="Registrieren">

 </div>
</form>
</div>
</div>
</div>
<script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });
    </script>
  
</section>

    <footer>
      <div class="grid-container-fussbereich">
      <div>Kontakt:</div>
      <div>Öffnungszeiten:</div>
      <div>Adresse:</div>
      <div>Rechthinweise:</div>
      <div> Tel: 01234/56789 <br> oder über unser <br><a href="kontakt.html">  Kontaktformular</a></div>
      
      <div>Mo-So bei schönem Wetter <br> ab 9 Uhr geöffnet. <br> Zeiten können variieren.</div>
      
      <div>Musterstrasse 1 <br> 12345 Musterhausen</div>
        
      <div> <a href="impressum.html"> Impressum</a></div>
      </div>
  </footer>
  </body>
</html>