main{
    width: 50%;
    margin: 50px auto; 
    text-align: center;
 }
 body{
     font-family: 'old_standard_ttregular';
     
 }
 table{
     margin-top: 10%;
    border-left: 1.5px solid #0e4e78;
    border-right: 1.5px solid #0e4e78;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
 }
 #table-header {
    background-color: #0e4e78;
    font-size: 1.4rem;
    color: white;
}

 table, th, td{
     border-collapse: collapse;
     
 }
 th, td{
     padding: 10px;
     padding-left: 20px;
     padding-right: 20px;
     border-bottom: 1.5px solid #0e4e78;
 }
 .grid-container-ausflug{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10rem;
    text-align: center;
  
}
footer{
    margin-top: 9%;
    position: absolute;
}
.edit-row-btn{
    font-size: 1.2rem;
}
.edit-row-btn:hover{
    background: -webkit-linear-gradient(right, #0e4e78,  #1ea1f8);
}
button{
    font-size: 1.4rem;
    letter-spacing: 2px;
    background-color: #0e4e78;
    border: 1.5px solid #0e4e78;
    color: white;
    border-radius: 5px;
    position: relative;
    height: 100%;
    width: 110%;
    font-family: 'old_standard_ttregular';
}
