main{
    width: 50%;
    margin: 50px auto; 
    text-align: center;
 }
 table{
     margin-top: 10%;
    border-left: 1.5px solid #0e4e78;
    border-right: 1.5px solid #0e4e78;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
 }
 #table-header {
    background-color: #0e4e78;
    font-size: 1.4rem;
    color: white;
}
#table_body:hover {
    background-color: #f5f5f5;
}
 table, th, td{
     border-collapse: collapse;
     
 }
 th, td{
     padding: 10px;
     border-bottom: 1.5px solid #0e4e78;
 }
 .grid-container-ausflug{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10rem;
    text-align: center;
  
}
footer{
    margin-top: 20%;
}