/* CSS für Fußzeile */
.grid-container-fussbereich{
        display: grid;
        font-family: old_standard_ttregular;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        margin-top: 4.2rem;
        padding: 3px;
}

/* Css für Ausflug*/
.grid-container-ausflug{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 10rem;
        text-align: center;
      
}

/*Css für die Anmeldung*/
.hero{
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0,4)),url(Images/banner.jpg);
        background-position: center;
        background-size: cover;
        position: absolute;
}
.form-box{
        width: 380px;
        height: 480px;
        position: relative;
        margin: 6% auto;
        background: #fff;
        padding: 5px;
}

/*Css für Impressum*/
.impressum{
        font-family: old_standard_ttregular; 
}


