/* CSS für Fußzeile */
.grid-container-fussbereich{
        display: grid;
        font-family: old_standard_ttregular;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        margin-top: 4.2rem;
        padding: 3px;
}


/*Css für Impressum*/
.impressum{
        font-family: old_standard_ttregular; 
}
/*Css für Termin*/
#Logout{
        margin-top: 1%;
        margin-left: 90%;
        text-align: center;
        width:100px;
}

