/* CSS-Style für Ansicht der Boote in boote.html */
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    padding: 3px;
}
.grid-container > div {
    max-width: 99%;
}
.grid-container > div >p {
    text-align: left;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: old_standard_ttregular;
}
.grid-container >div >h1{
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-family: old_standard_ttregular;
}

/* CSS für Kontakt */
section{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
}
section >div {
    max-width: 800px;
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'old_standard_ttregular';
    font-size: 1.4rem;
    letter-spacing: 2px;
}
form{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'old_standard_ttregular';
    font-size: 1.4rem;
    letter-spacing: 2px;
}
form >div {
    background-size:cover;
}
input, textarea {
    background-color: white;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    letter-spacing: 2px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
input{
    margin-bottom: 1rem;
    min-width: 35rem;
}
textarea{
    min-width: 45rem;
    min-height: 10rem;
}
input:focus, textarea:focus {
    border-color: #0e4e78;
}
input::placeholder, textarea::placeholder{
    color: #999;
    transition: all 0.3s ease;
}
input:focus::placeholder, textarea:focus::placeholder{
    color: #b3b3b3;
}
button{
    font-size: 1.2rem;
    letter-spacing: 2px;
    background-color: #0e4e78;
    color: white;
    border: 1.5px solid #0e4e78;
    border-radius: 5px;
}

/* CSS für Termin */
/* Termin hinzufügen */
#form1 {
    align-items: center;
    margin-bottom: 3rem;
}
#kennung {
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}
#gebdat {
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
}
#termin-btn {
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    padding: 0.4px;
    width: 15rem;
    font-size: 1.2rem;
}
#termin-btn:hover {
    background: -webkit-linear-gradient(right, #0e4e78,#187abb,#1ea1f8, #4db8ff);
}
/* Termin bearbeiten */
article {
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'old_standard_ttregular';
    font-size: 1.4rem;
    letter-spacing: 2px;
}
#update-termin {
    font-size: 1.4rem;
    font-family: 'old_standard_ttregular';
    letter-spacing: 2px; 
}
#update-gebucht {
    font-size: 1.2rem;
    font-family: 'old_standard_ttregular';
    letter-spacing: 2px;   
}
#update-kennung {
    width: 475px;
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: .3rem;
}
#update-gebdat {
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
}
#update-btn {
    letter-spacing: 2px;
    font-family: 'old_standard_ttregular';
    width: 15rem;
    font-size: 1.2rem;
}
#update-btn:hover {
    background: -webkit-linear-gradient(right, #0e4e78,#187abb,#1ea1f8, #4db8ff);
}
/* Tabelle */
.edit-row, .delete-row {
    font-size: 1.2rem;
}
.edit-row:hover, .delete-row:hover{
    background: -webkit-linear-gradient(right, #0e4e78,#187abb,#1ea1f8, #4db8ff);
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border-bottom: 1.5px solid #0e4e78;
}
#table {
    border-left: 1.5px solid #0e4e78;
    border-right: 1.5px solid #0e4e78;
    font-family: 'old_standard_ttregular';
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
#table-header {
    background-color: #0e4e78;
    font-size: 1.4rem;
    color: white;
}